<div class="infographic">
    <div class="row">
      <div class="header-text col-md-12 text-center">
          <p>Stark employees' living in {{this.model.Name_of_area}}</p>
      </div>
    </div>
    <div class="row">
      <ul class="col-md-12 list">
        <li class="col-md-4 text-center">
            <img src="/assets/images/New infographics-16.png" alt="">
            <p class="percentage">{{this.model.who_tube}}</p>
            <p class="text-small">of Stark employees</p>
            <p class="text-big">take the tube to Stark</p>
            <div class="tube-info">
              <p class="cost">£{{this.model.Cost_of_tube}}</p>
              <p class="period">per/month</p>
              <p class="commute-time">{{this.model.Tube_time}}</p>
              <p class="commute-text">commute time</p>
            </div>
            <span class="cons">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <p>Not weather dependent</p>
            </span>
            <span class="pros">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
              <p>Tube on peak hour is VERY busy</p>
            </span>
        </li>
        <li class="col-md-4 text-center">
            <img src="/assets/images/New infographics-17.png" alt="">
            <p class="percentage">{{this.model.who_bike}}</p>
            <p class="text-small">of Stark employees</p>
            <p class="text-big">cycle to Stark</p>
            <div class="tube-info">
              <p class="cost">£{{this.model.Cost_of_bike}}*</p>
              <p class="period">per/month</p>
              <p class="commute-time">{{this.model.Bike_time}}</p>
              <p class="commute-text">commute time</p>
            </div>
            <span class="cons">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <p>Cost effective with Santander bikes</p>
            </span>
            <span class="pros">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
              <p>Can be dangerous if not used to cycling</p>
            </span>
        </li>
        <li class="col-md-4 text-center">
            <img src="/assets/images/New infographics-20.png" alt="">
            <p class="percentage">{{this.model.who_walk}}</p>
            <p class="text-small">of Stark employees</p>
            <p class="text-big">walk to Stark</p>
            <div class="tube-info">
              <p class="cost">£{{this.model.Cost_of_walk}}</p>
              <p class="period">per/month</p>
              <p class="commute-time">{{this.model.Walk_time}}</p>
              <p class="commute-text">commute time</p>
            </div>
            <span class="cons">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <p>Cheap,safe,eco-friendly</p>
            </span>
            <span class="pros">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
              <p>A long walk,itrains often</p>
            </span>
        </li>        
      </ul>
      <div class="col-md-4 clear-container"></div>
      <div class="col-md-4 clear-container">
        <p class="clearification text-center">*cost based on the price of renting a Sandander bike</p>
      </div>
      
    </div>
  </div>