.infographic{
    font-family: proxima-nova;
    color:rgba(79, 90, 101, 1);
    padding: 0;
}

.infographic, .header-text, ul{
    padding: 0;
}
ul{
    list-style: none;
}
p{
    margin: 0;
}
.header-text{
    background-color:  rgba(22, 134, 255, 1);
    color: white;
    font-size: 24px;
    line-height: 24px;
}


.header-text p{
    line-height: 60px;
    font-weight: 500;
    margin: 0;
}

.gray-coloring{
    background-color: rgba(242, 242, 242, 1);
    display: inline-block;
    padding: 10px;
    height: 100%;

}

.wrapper{
    background-image: url("/assets/images/New infographics-34.png");
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
}

.wrapper .info {
    position: absolute;
    top: 180px;
    left: 260px;
    width: 435px;
}

.list-header{
    font-size: 27px;
    color: rgba(22, 134, 255, 1);
    font-weight: bold;
    line-height: 28px;
}

.monthly-budget{

}

.monthly-budget li{
    height: 40px;
    border-bottom: 1px solid rgba(142,142, 141, 1);
    margin: 0 20px;
    margin-top: 30px;
    padding-bottom: 70px;
}

.monthly-budget li span{
    height: 30px;
    width: 70px;
    display: inline-block;
}

.monthly-budget li img{
    height: 30px;
}


.monthly-budget li p{
    display: inline-block;
    line-height: 30px;
    font-size: 22px;
}

.last-li{
    border-bottom: none!important;
}

.total{    
    font-size: 32px;
    color: rgba(22, 134, 255, 1);
    font-weight: bold;
    line-height: 28px;
    position: relative;
}
.total-text{
    margin-top: 60px;
}
.currency-text{
    position: absolute;
    font-size: 40px;
    left: 50px;
    top: 50px;
}

.cost{
    color: rgba(247, 170, 25, 1);
    font-size: 25px;
}

.description{
    font-size: 14px!important;
    width: 100%
}