.infographic{
    font-family: proxima-nova;
    color:rgba(79, 90, 101, 1);
    padding: 0;
}

.infographic, .header-text, ul{
    padding: 0;
}
ul{
    list-style: none;
}
p{
    margin: 0;
}
.header-text{
    background-color:  rgba(22, 134, 255, 1);
    color: white;
    font-size: 24px;
    line-height: 24px;
}


.header-text p{
    line-height: 60px;
    font-weight: 500;
    margin: 0;
}

.gray-coloring{
    background-color: rgba(242, 242, 242, 1);
    display: inline-block;
    padding: 10px;
    height: 100%;

}

.wrapper{
    
    /* width: 100%;
    height: 800px;
    background-size: cover; */
    position: relative;
}
.wrapper img{
    height: 860px;
}
.wrapper .info {
    position: absolute;
    top: 180px;
    left: 260px;
    width: 435px;
}

.list-header{
    font-size: 27px;
    color: rgba(22, 134, 255, 1);
    font-weight: bold;
    line-height: 28px;
}

.monthly-budget li{
    height: 40px;
    border-bottom: 1px solid rgba(142,142, 141, 1);
    margin: 0 20px;
    margin-top: 30px;
    padding-bottom: 70px;
}

.monthly-budget li span{
    height: 30px;
    width: 70px;
    display: inline-block;
}

.monthly-budget li img{
    height: 30px;
}


.monthly-budget li p{
    display: inline-block;
    line-height: 30px;
    font-size: 22px;
}

.last-li{
    border-bottom: none!important;
}

.total{    
    font-size: 32px;
    color: rgba(22, 134, 255, 1);
    font-weight: bold;
    line-height: 28px;
    position: relative;
}
.total-text{
    margin-top: 60px;
}
.currency-text{
    position: absolute;
    font-size: 40px;
    left: 50px;
    top: 50px;
}

.cost{
    color: rgba(247, 170, 25, 1);
    font-size: 25px;
}

.description{
    font-size: 14px!important;
    width: 100%
}
@media only screen and (max-width : 1440px){
    .wrapper img{
        height: 563px;
    }
    .wrapper .info{
        position: absolute;
        top: 117px;
        left: 173px;
        width: 286px;
    }
    .list-header{
        font-size: 15px;
    }
    .monthly-budget{
        margin-top: -10px;
    }
    .monthly-budget li {
        padding-bottom: -1px;
        margin-top: 10px;
    }
    .monthly-budget li p {
        font-size: 15px;
    }
    .monthly-budget li img {
        height: 20px;
    }
    .monthly-budget li span{
        width: 40px;
        height: 0px;
    }
    .cost{
        font-size: 20px;
    }
    .total-text{
        margin-top: 0px;
    }
    .total{
        font-size: 20px;
    }
    .currency-text{
        font-size: 25px;
        top: 25px;
    }
}

