.infographic{
    font-family: proxima-nova;
}
p{
    margin: 0;
}
.comparison-container{
    background-image: url("/assets/images/New infographics-33.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
}

.comparison-container ul{
    width: 700px;
    margin-top: 130px;
    padding-left: 10px;
    list-style: none;
}

.data-comparison{
    border-bottom: 1px solid rgba(142,142, 141, 1);
    color: rgba(79, 90, 101, 1);
    padding: 10px;
    margin-left: 68px;
    font-size: 20px;
}

.data-comparison span{
    color: rgba(237, 28, 36, 1)
}
.data-comparison span i{
    padding-left: 3px;
}
.separator{
    border-right: 1px solid rgba(142,142, 141, 1);
}

.header-text{
    background-color:  rgba(22, 134, 255, 1);
    color: white;
    font-size: 24px;
    line-height: 24px;
}

.header-text p{
    line-height: 60px;
    font-weight: 500;
    margin: 0;
}

.country-container{
    margin-top: 30px;
    margin-bottom: 20px;
    height: 70px;
}

.city-name{
    color:rgba(79, 90, 101, 1);
    font-weight: 600;
    font-size: 32px;
}
.overall-costs{
    color:  rgba(22, 134, 255, 1);
    font-size: 28px;
}
.overall-costs, .city-name{
    display: inline;
    font-weight: 700;
    line-height: 32px;
}

.overall-costs > span {    
    font-size: 14px;
}

.city-icon-container{
    overflow: hidden;
}
.city-icon-container img{
    margin-top: -15px;
    margin-left: -10px;
    overflow: hidden;
}

.text-container{
    font-family: proxima-nova;
    font-size: 18px;
    color: rgba(79, 90, 101, 1);
    margin: 30px;
    margin-top: 20px;
}

.last-data-comparison{
    border:none;
}
.data-comparison-percentage{
    line-height: 56px;
    font-weight: 700;
    font-size: 32px;
}