<div class="infographic">
    <div class="">
      <div class="header-text col-md-12 text-center">
          <p>Stark employees' grocery costs</p>
      </div>
    </div>
    <div class="">
      <div class="wrapper grey-coloring">
        <div class="col-md-6">
          <ul class="names1">
            <li class="table-header">
              <div class="head-img-container">
                <p>Frequency cooking</p>
              </div>
            </li>
            <li class="list-item">Every day</li>
            <li class="list-item">5 times/week</li>
            <li class="list-item">3 times/week</li>
            <li class="list-item">Rarely</li>
            <li class="list-item">Never</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="names2">
              <li class="table-header">
                <div class="text-center">
                    <p>% employees</p>
                </div>
              </li>
              <li class="list-item number">{{GroceryCosts.EveryDay.Percent}}%</li>
              <li class="list-item number">{{GroceryCosts.FiveTimes.Percent}}%</li>
              <li class="list-item number">{{GroceryCosts.ThreeTimes.Percent}}%</li>
              <li class="list-item number">{{GroceryCosts.Rarely.Percent}}%</li>
              <li class="list-item number">{{GroceryCosts.Never.Percent}}%</li>
            </ul>
        </div>
        <div class="col-md-3">
          <ul class="names3">
              <li class="table-header">
                <div class="text-center">
                    <p>Total</p>
                </div>
              </li>
              <li class="list-item list-item-total number">£{{this.model._7days}}</li>
              <li class="list-item list-item-total number">£{{this.model._5days}}</li>
              <li class="list-item list-item-total number">£{{this.model._3days}}</li>
              <li class="list-item list-item-total number">£{{this.model._1days}}</li>
              <li class="list-item list-item-total number">£{{this.model._0days}}</li>
            </ul>
        </div>        
      </div>
      <p class="clearifications text-center">Numbers reported by Stark colleagues, based on shopping at high street supermarkets & delivery apps</p>
    </div>
  </div>