<div class="infographic">
    <div class="row">
      <div class="header-text col-md-12 text-center">
          <p>Stark employees' grocery costs</p>
      </div>
    </div>
    <div class="row">
      <div class="wrapper grey-coloring">
        <div class="col-md-6">
          <ul class="names1">
            <li class="table-header">
              <div class="head-img-container">
                <img src="/assets/images/New infographics-29.png" alt="">
                <p>Frequency cooking</p>
              </div>
            </li>
            <li class="list-item">Every day</li>
            <li class="list-item">5 times/week</li>
            <li class="list-item">3 times/week</li>
            <li class="list-item">Rarely</li>
            <li class="list-item">Never</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="names2">
              <li class="table-header">
                <div class="text-center">
                    <p>% employees</p>
                </div>
              </li>
              <li class="list-item number">55%</li>
              <li class="list-item number"></li>
              <li class="list-item number"></li>
              <li class="list-item number"></li>
              <li class="list-item number"></li>
            </ul>
        </div>
        <div class="col-md-3">
          <ul class="names3">
              <li class="table-header">
                <div class="text-center">
                    <p>Total</p>
                </div>
              </li>
              <li class="list-item list-item-total number">145</li>
              <li class="list-item list-item-total number"></li>
              <li class="list-item list-item-total number"></li>
              <li class="list-item list-item-total number"></li>
              <li class="list-item list-item-total number"></li>
            </ul>
        </div>        
      </div>
      <p class="clearifications text-center">Numbers reported by Stark colleagues, based on shopping at high street supermarkets & delivery apps</p>
    </div>
  </div>